.layout {
	display: grid;
	padding: 20px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto 3fr 1fr 1fr 1fr;
	gap: 0px;
	height: 100vh;
	width: 100vw;
}

.layout > .topbar {
	grid-column: 1 / -1;
	grid-row: 1;
	align-items: center;
	justify-content: center;
	display: flex;
}

.layout > .center {
	grid-column: 1 / -1;
	grid-row: 2;
}

.layout > .left {
	grid-column: 1;
	grid-row: 4 / 6;
	transition: max-width 0.3s ease;
	width: fit-content;
	overflow: hidden;
}

.layout > .bottom-left {
	grid-column: 2;
	grid-row: 4;
	transition: max-width 0.3s ease;
	width: fit-content;
	overflow: hidden;
}

.layout > .bottom-middle {
	grid-column: 1 / -1;
	grid-row: 3;
}

.layout > .bottom-right {
	grid-column: 2;
	grid-row: 5;
}

.layout > .bottom-right > div {
	height: 100%;
	transition: max-width 0.3s ease;
	width: fit-content;
	overflow: hidden;
}

@media (min-width: 600px) {
	.layout {
		grid-template-columns: 1fr 4fr 1fr;
		grid-template-rows: 1fr 5fr 1fr;
		gap: 20px;
		padding: 0;
	}

	.layout > .topbar {
		grid-column: 1 / -1;
		grid-row: 1;
	}

	.layout > .center {
		grid-column: 2;
		grid-row: 2;
	}

	.layout > .left {
		grid-column: 1;
		grid-row: 2;
		border-radius: 0 24px 24px 0;
		background-color: var(--bg-2);
	}

	.layout > .bottom-left {
		grid-column: 1;
		grid-row: 3;
		border-radius: 0 24px 0 0;
		background-color: var(--bg-2);
	}

	.layout > .bottom-middle {
		grid-column: 2;
		grid-row: 3;
	}

	.layout > .bottom-right {
		grid-column: 3;
		grid-row: 3;
		direction: rtl;
	}
	.layout > .bottom-right > div {
		background-color: var(--bg-2);

		border-radius: 24px 0 0 0;
	}
}

.simon-button {
	cursor: pointer;
	transition: filter 0.5s ease;
}

.simon-button:hover {
	filter: drop-shadow(0 0 3px var(--button-color))
		drop-shadow(0 0 16px var(--button-color));
}

.simon-button.animate {
	filter: drop-shadow(0 0 10px var(--button-color))
		drop-shadow(0 0 20px var(--button-color));
}

.simon-switch {
	cursor: pointer;
	background-color: rgba(109, 1, 1, 1);
	box-shadow: none;
	transform: rotateX(-15deg);
}

.simon-switch[data-ison="true"] {
	background-color: red;
	box-shadow: 0 0 20px red;
	transform: rotateX(15deg);
}

.simon-knob {
	cursor: grab;
	background-color: #ccc;
}

.simon-knob .simon-knob-inner {
	width: 4px;
	height: 20px;
	background-color: black;
	top: 5px;
	transform-origin: bottom center;
	transition: transform 0.1s ease;
}

.simon-slider .ball {
	cursor: grab;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background-color: red;
}

.give-up-button {
	cursor: pointer;
	background-color: red;
	pointer-events: auto;
	color: white;
	border: none;
	padding: 10px 20px;
	border-radius: 10px;
	font-size: 1.2rem;
	transition:
		background-color 0.3s ease,
		transform 0.2s ease;
}

.give-up-button:hover {
	background-color: darkred;
	transform: scale(1.05);
}

.status-pill {
	padding: 5px;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin-left: 20px;
	width: min(250px, 50%);
	color: black;
}

.status-pill .status-indicator {
	width: 20px;
	height: 20px;
	border-radius: 50%;
}
